
{% extends 'layouts/base.html.twig' %}

{% block title 'Créer un compte' %}


{% block body %}
<div class="row">
        <div class="col-md6 mx-auto" style="width : 50%;">
         {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-error rounded mb-3" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1 class="mt-5 mb-3 text-center">Créer un compte</h1>
        <p class="text-center text-muted">Rejoignez nous dans la quête aux avis!</p>

        {{ form_start(registrationForm) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(registrationForm.firstName, {
                        label: 'Prénom'
                    }) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(registrationForm.lastName, {
                        label: 'Nom'
                    }) }}
                </div>
            </div>
            
            
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
            <div class="mt-2">
            {{ form_row(registrationForm.agreeTerms) }}
            </div>
            <div class="d-grid gap-2 mt-3">
                <button type="submit" class="btn btn-primary btn-lg" formnovalidate>S'inscrire</button>
            </div>
        {{ form_end(registrationForm) }}
        <p class="mt-5 mb-3 text-center text-muted">Vous êtes déjà inscrit? <a href="{{path('app_login')}}">Connectez vous.</a></p>
        </div>
</div>
   
{% endblock %}
