{% extends 'layouts/base.html.twig' %}

{% block title "Retrouve plein d'avis par ici !"%}

{% block body %}
    <h1>{{avis|length}} avis</h1>
    {% for avis in avis %}
        <article>
        <h2><a href="{{path('app_avis_show',{id:avis.id})}}">{{avis.titre}}</a></h2>
        <p>{{ avis.description | u.truncate(10 ,'...',false)}}</p>
        <p>Posté {{avis.createdAt | ago}}
        </article>
    {% endfor %}
{% endblock %}
