{% extends 'base.html.twig' %}

{% block title avis.titre %}

{% block body %}
    <article>
        <h1>{{avis.titre}}</h1>
        <p>{{avis.description}}</p>
    </article>

    <a href="{{path('app_avis_edit', {id: avis.id})}}">Editer</a> | 
    <a href="#" onclick="event.preventDefault(); confirm('Confirmer la suppression') &&
    document.getElementById('js-pin-delete-form').submit();">Supprimer</a> |
    <a href="{{path('app_home')}}">Accueil</a>

    <form id="js-pin-delete-form" method="POST" action="{{path('app_avis_delete', {id: avis.id}) }}" style="display: none;">
        <input type="hidden" name="csrf_token" value="{{ csrf_token('avis_deletion_' ~ avis.id) }}">
        <input type="hidden" name="_method" value="DELETE">
    </form>
{% endblock %}